.container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(84, 194, 166);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(247, 250, 248);
}
