@keyframes beat {
  0% {
    transform: scale(1.01);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.1);
  }
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(84, 194, 166);
  animation: beat 1s infinite;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(247, 250, 248);
}
